*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* HEADER START */

header{
    width: 100%;
    height: 747px;
    /* max-width: 1400px; */
    background-image: url(./img/bir.jpg);
    background-size: cover;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;

}
nav{
    padding-top: 23px;
    display: flex;
    justify-content: space-between;
    width: calc(100%/1400*1080);

}

nav a{
    
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #FFFFFF;
}

nav a b{
    color: #B78601;
}

nav ul{
    display: flex;
    justify-content: space-between;
    width: calc(100%/1080*430);
}

nav ul li a{
    
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #FFFFFF;
}

nav ul li a:hover{
    color: #B78601;

}

.header_1 .letter{
    padding-top: 166px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 59px;

color: #FFFFFF;
}
 .header_1 h1{
 padding-top: 30px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 70px;

color: #B78601;
 }

 .header_1 p{

    padding-top: 26px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
 }
 
 .header_1 button{
    margin-top: 63px;
    padding: 16px 63px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
    border-radius: 30px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
 }

 .header_1{
   width: calc(100%/1400*1080);
 }

@media (max-width: 768px) {
    header{
        height: 800px;
    }

    nav ul{
        display: flex;
        justify-content: space-between;
        width: calc(100%/1080*530);
    }

    nav ul li a{
        padding-left: 3px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 200;
        font-size: 10px;
        line-height: 21px;
        /* identical to box height */
        
        
        color: #FFFFFF;
        }
}


@media (max-width: 505px) {
  
header nav{
    display: flex;
    justify-content: space-around;
}

    header{
        width: 100%;
        height: 950px;
    }

    nav ul li a{
    
        padding-left: 5px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 100;
        font-size: 8px;
        line-height: 21px;
        /* identical to box height */
        
        
        color: #FFFFFF;
        }
}

@media (max-width: 900px) {
    nav ul li a{
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */
        
        
        color: #FFFFFF;
        }
}


 /* ==============HEADER FINISH============== */


 /* =============SECTION START=================== */

 section .sss p{
  
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
/* identical to box height */



color: #565656;
 }

 section{
    display: flex;
    justify-content: center;
 }

 .sss{
    width: calc(100%/1400*1080);
    margin-top: 140px;
 }

 .section_1{
    width: 100%;
    margin-top: 82px;
    display: flex;
    justify-content: space-between;
 }
 @media (max-width:1400px) {
    .section_1 img{
        width: calc(100%/108*35);
    }
 }

 @media (max-width:1024px) {
    .section_1 img{
        width: calc(100%/3.2);
    }

    @media (max-width:768px) {
        .section_1 img{
            width: calc(100%/3.2);
        }
     }
 }

 .section_2{
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
 }

 @media (max-width:1400px) {
    .section_2 img{
        width: calc(100%/108*35);
    }
 }

 @media (max-width:1024px) {
    .section_2 img{
        width: calc(100%/3.2);
    }
}

    @media (max-width:768px) {
        .section_2 img{
            width: calc(100%/3.2);
        }
     }

/* =========SECTION_IKKI============== */



 .section_ikki{
    width: 100%;
    margin-top: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 730px;
    background-color: rgb(0, 0, 0);

 }

 .mmm{
    /* margin-top: 90px; */
    display: flex;
    justify-content: space-between;
    width: calc(100%/1400*1080);

 }
.section_ikki .letterr{
    padding: 140px 0 90px 0;
    /* margin-top: 142px; */
    width: calc(100%/1400*1080);
    font-family: 'Roboto';
/* font-style: normal; */
font-weight: 400;
font-size: 22px;
/* line-height: 26px; */
/* identical to box height */


color: #FFFFFF;

}

.box_1{
    /* height: 155px; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    width: calc(100%/1080*351);
    padding-bottom: 90px;
}

.box_1 h2{
    padding: 27px 0 24px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
/* identical to box height */


color: #FFFFFF;
}

.box_1 p{
    padding: 0px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 29px;
/* or 171% */

text-align: center;

color: #FFFFFF;
}

@media (max-width:676px) {
    .box_1 img{
        width: 125px;
        height: 125px;
    }
    .box_1 p{
        padding: 0px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 29px;
    /* or 171% */
    
    text-align: center;
    
    color: #FFFFFF;
    }
    .box_1 h2{
        padding: 27px 0 24px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    }
    
}

@media (max-width:550px) {
    .box_1 img{
        width: 100px;
        height: 100px;
    }
    .box_1 p{
        padding: 0px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 10px;
    line-height: 20px;
    /* or 171% */
    
    text-align: center;
    
    color: #FFFFFF;
    }
    .box_1 h2{
        padding: 27px 0 24px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    }
    
}
@media (max-width:435px) {
    .box_1 img{
        width: 80px;
        height: 80px;
    }
    .box_1 p{
        padding: 0px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 10px;
    line-height: 20px;
    /* or 171% */
    
    text-align: center;
    
    color: #FFFFFF;
    }
    .box_1 h2{
        padding: 27px 0 24px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    }
    
}

@media (max-width:356px) {
    .box_1 img{
        width: 60px;
        height: 60px;
    }
    .box_1 p{
        padding: 0px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 10px;
    line-height: 29px;
    /* or 171% */
    
    text-align: center;
    
    color: #FFFFFF;
    }
    .box_1 h2{
        padding: 27px 0 24px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    }
    
}

/* =============SECTION FINISH=============== */

/* ==============MAIN START================= */
main{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.letterrr{
    padding-top: 140px;
    width: calc(100%/1400*1080);
    display: flex;
    justify-content: left;
    font-family: 'Roboto';
/* font-style: normal; */
font-weight: 400;
font-size: 22px;
/* line-height: 26px; */
/* identical to box height */


color: #000000;

}
.aaa{
    margin-top: 95px;
    width: calc(100%/1400*1080);
    display: flex;
    justify-content: space-between;
}

.box_2{
    width: calc(100%/1080*251);
    background-color: black;
    margin-bottom: 142px;
    padding-bottom: 38px;
}
.box_2 img{
    width: 100%;
}
.box_2 h3{
    padding: 15px 0 12px 30px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #FFFFFF;
}

.box_2 p{
    padding-left: 30px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */


color: #FFFFFF;
}



@media (max-width:950px) {
    .letterrr{
        padding-top: 120px;
        width: calc(100%/1400*1080);
        display: flex;
        justify-content: left;
        font-family: 'Roboto';
    /* font-style: normal; */
    font-weight: 300;
    font-size: 20px;
    /* line-height: 26px; */
    /* identical to box height */
    
    
    color: #000000;
    }
    .box_2 h3{
        padding: 15px 0 12px 25px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    }
    
    .box_2 p{
        padding-left: 25px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 250;
    font-size: 8px;
    line-height: 20px;
    /* or 143% */
    
    
    color: #FFFFFF;
    }
}

@media (max-width:650px) {
    .letterrr{
        padding-top: 120px;
        width: calc(100%/1400*1080);
        display: flex;
        justify-content: left;
        font-family: 'Roboto';
    /* font-style: normal; */
    font-weight: 200;
    font-size: 16px;
    /* line-height: 26px; */
    /* identical to box height */
    
    
    color: #000000;
    }
    .box_2 h3{
        padding: 15px 0 12px 15px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    }
    
    .box_2 p{
        padding-left: 15px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 250;
    font-size: 8px;
    line-height: 20px;
    /* or 143% */
    
    
    color: #FFFFFF;
    }
}
@media (max-width:425px) {
    .letterrr{
        padding-top: 120px;
        width: calc(100%/1400*1080);
        display: flex;
        justify-content: left;
        font-family: 'Roboto';
    /* font-style: normal; */
    font-weight: 200;
    font-size: 12px;
    /* line-height: 26px; */
    /* identical to box height */
    
    
    color: #000000;
    }
    .box_2 h3{
        padding: 15px 0 12px 12px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 350;
    font-size: 10px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    }
    
    .box_2 p{
        padding-left: 12px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 150;
    font-size: 5px;
    line-height: 20px;
    /* or 143% */
    
    
    color: #FFFFFF;
    }
}

/* =============MAIN FINISH============== */

/* ===========FOOTER START============== */

footer{
    height: 1173px;
}

.footer_1{
    background-image: url(./img/ikki.jpg);
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;
}

.footer_1 h4{
    width: calc(100%/1400*1080);
    display: flex;
    justify-content: left;
    margin: 177px 0 26px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 75px;
line-height: 88px;
/* identical to box height */


color: #000000;
}

.footer_1 p{
    /* padding-bottom: 100px; */
    width: calc(100%/1400*1080);
    display: flex;
    justify-content: left;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 30px;
/* or 158% */


color: #000000;
}

.buton{
    margin: 81px 0 97px;
    width: calc(100%/1400*1080);
    display: flex;
    justify-content: left;
   
}


.footer_1 button{
    /* width: 1080px; */
    display: flex;
    justify-content: left;
    padding: 16px 63px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
      border-radius: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  
  color: #FFFFFF;
}

.footer_2{
    /* margin: 92px 0 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    height: 340px;
}

.nav{
    padding-top: 23px;
    display: flex;
    justify-content:left;
    width: calc(100%/1400*1080);

}

.nav a{
    
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #FFFFFF;
}

.nav a b{
    color: #B78601;
}

.nav ul{
    display: flex;
    justify-content: space-between;
    width: calc(100%/1080*430);
}

.nav ul li a{
    
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #FFFFFF;
}

.nav ul li a:hover{
    color: #B78601;

}

.b_2{
    margin: 20px 0 36px;
    width: calc(100%/1400*1080);
    display: flex;
    justify-content: space-between;

}

.b_2 p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 167% */


color: #FFFFFF;
}

.b_21 a{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 167% */


color: #FFFFFF;
}

.b_21{
    margin-top: 36px;
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: center;
}


.b_3{
    margin: 0 0 28px;
    width: calc(100%/1400*1080);
    display: flex;
    justify-content: center;
}

.b_3 p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #FFFFFF;
}

.b_3 a{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    }
    
    .b_3 a b{
        color: #B78601;
    }


@media (max-width:1064px) {
    .footer_1 button{
        /* width: 1080px; */
        display: flex;
        justify-content: left;
        padding: 16px 53px;
        border: 1px solid rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0);
          border-radius: 30px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 24px;
      
      color: #FFFFFF;
    }
    .footer_1 h4{
        width: calc(100%/1400*1080);
        display: flex;
        justify-content: left;
        margin: 177px 0 26px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 80px;
    /* identical to box height */
    
    
    color: #000000;
    }

    .footer_1 p{
        /* padding-bottom: 100px; */
        width: calc(100%/1400*1080);
        display: flex;
        justify-content: left;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    /* or 158% */
    
    
    color: #000000;
    }
    .nav a{
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        /* identical to box height */
        
        
        color: #FFFFFF;
        }
        .nav ul li a{
    
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 18px;
            /* identical to box height */
            
            
            color: #FFFFFF;
            }
            .b_2 p{
                font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 25px;
            /* or 167% */
            
            
            color: #FFFFFF;
            }
            
            .b_21 a{
                font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 30px;
            /* or 167% */
            
            
            color: #FFFFFF;
            }
            
}

@media (max-width:678px) {
    .footer_1 button{
        /* width: 1080px; */
        display: flex;
        justify-content: left;
        padding: 12px 43px;
        border: 1px solid rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0);
          border-radius: 30px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 20px;
      
      color: #FFFFFF;
    }

    .footer_1 h4{
        width: calc(100%/1400*1080);
        display: flex;
        justify-content: left;
        margin: 177px 0 26px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 70px;
    /* identical to box height */
    
    
    color: #000000;
    }
    .footer_1 p{
        /* padding-bottom: 100px; */
        width: calc(100%/1400*1080);
        display: flex;
        justify-content: left;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 10px;
    line-height: 30px;
    /* or 158% */
    
    
    color: #000000;
    }
    .nav a{
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 200;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height */
        
        
        color: #FFFFFF;
        }
        .nav ul li a{
    
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 200;
            font-size: 12px;
            line-height: 16px;
            /* identical to box height */
            
            
            color: #FFFFFF;
            }
            .b_2 p{
                font-family: 'Roboto';
            font-style: normal;
            font-weight: 200;
            font-size: 12px;
            line-height: 20px;
            /* or 167% */
            
            
            color: #FFFFFF;
            }
            
            .b_21 a{
                font-family: 'Roboto';
            font-style: normal;
            font-weight: 200;
            font-size: 12px;
            line-height: 25px;
            /* or 167% */
            
            
            color: #FFFFFF;
            }
            
}

@media (max-width:425px) {
    .footer_1 button{
        /* width: 1080px; */
        display: flex;
        justify-content: left;
        padding: 10px 33px;
        border: 1px solid rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0);
          border-radius: 30px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 200;
      font-size: 14px;
      line-height: 20px;
      
      color: #FFFFFF;
    }
    .footer_1 h4{
        width: calc(100%/1400*1080);
        display: flex;
        justify-content: left;
        margin: 177px 0 26px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 60px;
    /* identical to box height */
    
    
    color: #000000;
    }
    .footer_1 p{
        /* padding-bottom: 100px; */
        width: calc(100%/1400*1080);
        display: flex;
        justify-content: left;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 8px;
    line-height: 30px;
    /* or 158% */
    
    
    color: #000000;
    }
    .nav a{
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 200;
        font-size: 8px;
        line-height: 16px;
        /* identical to box height */
        
        
        color: #FFFFFF;
        }
        .nav ul li a{
    
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 200;
            font-size: 8px;
            line-height: 16px;
            /* identical to box height */
            
            
            color: #FFFFFF;
            }
            .b_2 p{
                font-family: 'Roboto';
            font-style: normal;
            font-weight: 200;
            font-size: 8px;
            line-height: 20px;
            /* or 167% */
            
            
            color: #FFFFFF;
            }
            
            .b_21 a{
                font-family: 'Roboto';
            font-style: normal;
            font-weight: 200;
            font-size: 8px;
            line-height: 20px;
            /* or 167% */
            
            
            color: #FFFFFF;
            }
            
}